---
import Layout       from "@/layouts/Layout.astro"
import Nav          from "@/components/Nav.astro"
import Hero         from "@/components/Hero.astro"
import LogoMarquee     from "@/components/LogoMarquee.astro"
import FlowAnimation   from "@/components/FlowAnimation.astro"
import Story        from "@/components/Story.astro"
import AdvancedFeatures from "@/components/AdvancedFeatures.astro"
import Features     from "@/components/Features.astro"
import Segments     from "@/components/Segments.astro"
import Faq          from "@/components/Faq.astro"
import RecentPosts  from "@/components/RecentPosts.astro"
import CtaFinal     from "@/components/CtaFinal.astro"
import Footer       from "@/components/Footer.astro"
import ValueBento   from "@/components/ValueBento.astro"
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <LogoMarquee />
    <FlowAnimation />
    <Story />
    <AdvancedFeatures />
    <!-- <Features /> -->
    <Segments />
    <ValueBento />
    <RecentPosts />
    <Faq />
    <CtaFinal />
  </main>
  <Footer />
</Layout>
